*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir;
}

/* BACKGROUND VIDEO */
.banner{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

/* CARD */
.card{
    text-align: center;
    width: 300px;
    height: 500px;
    border-radius: 19px;
    /* Parallax effect */
    transform-style: preserve-3d;
    transform: perspective(1000px);
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.808);
    border: white 2px solid;
    box-shadow: 0 0 10px white, 0 0 28px 5px white;
    position: relative;
}
.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    box-shadow: 2px 2px 9px black;
    transition: 1s;
}

/* CARD HOVER */
.card:hover img{
    transform: translateZ(70px);
    box-shadow: 2px 2px 9px white, 2px 2px 9px white, 2px 2px 9px 5px white;
}
/* head img */
.headimg{
    width: 100%;
    height: 119px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 60px;
    font-family: latin;
    color: white;
    text-shadow: 3px 3px 5px black;
}

/* Paragraph */
.card h2{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    transition: 1s;
    margin-bottom: 10px;
    font-size: 25px;
}
.card h2:hover{
    transform: translateZ(70px);
    text-shadow: 2px 2px 9px cyan, 4px 4px 12px rgb(0, 173, 173);
    color: white;
}

/* Button */
.card button{
    width: 70%;
    height: 40px;
    background-color: gold;
    border-radius: 19px;
    border: none;
    transition: 0.5s;
}
button:hover{
    transform: translateZ(70px);
    box-shadow: 0 0 2px 2px rgb(251, 255, 0) , 0 0 19px yellow;
}
/* FONT FACE */
@font-face {
    font-family: avenir;
    src: url(AvenirLTStd-Black.otf);
}
@font-face {
    font-family: latin;
    src: url(Happy\ New\ Year.ttf);
}
/* responsive */
@media screen and (max-width: 480px) {
    .card{
        width: 200px;
        height: 400px;
    }
    .card img{
        width: 119px;
        height: 119px;
    }
    .headimg{
        font-size: 39px;
    }
    .card h2{
        font-size: 17px;
    }
    #swal2-title{
        font-size: 1em;
    }
    body > div.swal2-container.swal2-center.swal2-backdrop-show > div{
        padding: 1em !important;
    }
    body > div.swal2-container.swal2-center.swal2-backdrop-show{
        background-position-y: -20px !important;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .card{
        width: 300px;
        height: 450px;
    }
    .card img{
        width: 150px;
    }
    .card h2{
        font-size: 26px;
    }
    #swal2-title{
        font-size: 1.5em;
    }
    
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card{
        width: 300px;
        height: 450px;
    }
    .card img{
        width: 150px !important;
        height: 150px !important;
    }
    
}
@media screen and (min-width: 1024px) and (max-width: 1390px) {
    .card img{
        width: 160px;
        height: 160px;
    }
}


